@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

$barbie-pink: #de4a9b;
$lavendar: #ffd6fc;
$light-barbie-pink: #feedff;
$pastel-green: #78e1ab;
$pastel-turquoise: #76bdc9;
$purple: #e2d3f7;
$powder-blue: #e6ecff;
$light-blue: #b6dce0;
$mustard-pastel: #f2c368;

.App {
	display: flex;
	flex-direction: column;
	background-color: lavender;
	height: 1000px;
	font-family: "Space Grotesk", sans-serif;
	background-image: linear-gradient($purple 0.1em, transparent 0.1em),
		linear-gradient(90deg, $purple 00.1em, transparent 00.1em);
	background-size: 3.2em 3.2em;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-top: 50px;
	font-family: "Shrikhand", cursive;
	color: black;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 4px 4px 0 $pastel-green;
}
.white-background {
	background-color: white;
	border: 1px black solid;
	color: black;
	box-shadow: #422800 4px 4px 0 0;
	width: 250px;
	height: 40px;
	border-radius: 30px;
	padding-top: 2px;
	margin-top: 105px;
}

.loading-gif {
	width: 280px;
	height: auto;
}
button {
	width: 140px;
	height: 50px;
	border-radius: 10px;
	background-color: $mustard-pastel;
	font-weight: 900;
	border: 1px black solid;
	color: black;
	box-shadow: #422800 4px 4px 0 0;
	font-family: "Space Grotesk", sans-serif;
}

.additional-margin {
	margin-top: 40px;
}
.definition-button {
	width: 90%;
	height: 180px;
	background-color: white;
	border-radius: 0.5rem;
	color: #e0218a;
	box-shadow: none;
	border: #e0218a 1px solid;
}

.definition-button:hover {
	box-shadow: none;
}
button:before {
	height: 0%;
	width: 2px;
}
button:hover {
	box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
}

.waiting-text {
	font-size: 16px;
	align-self: center;
	font-weight: 900;
	text-shadow: 2px 2px 0 $pastel-green;
}

.h-styles {
	text-shadow: 4px 4px 0 $pastel-green;
	font-size: 20px;
}

.word {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Archivo Black", sans-serif;
	font-size: 30px;
	color: $barbie-pink;
	background-color: white;
	border: 1px black solid;
	box-shadow: #422800 4px 4px 0 0;
	border-radius: 30px;
	margin-top: 50px;
	width: 280px;
	height: 90px;
}

.scores-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	.scores-container {
		display: flex;
		flex-direction: row;
		font-size: small;
	}
	.scores-container .player-info {
		font-weight: 500;
		margin: 5px;
		display: flex;
		flex-direction: column;
	}
}

textarea {
	padding: 10px;
	width: 400px;
	height: 200px;
	resize: none;
	-webkit-box-shadow: 0px 0px 51px 0px rgba(245, 46, 255, 1);
	-moz-box-shadow: 0px 0px 51px 0px rgba(245, 46, 255, 1);
	box-shadow: 0px 0px 5px 0px rgba(245, 46, 255, 1);
	border-radius: 15px;
	border: none;
}

.bubble-top {
	margin: 40px;
	--size: 285px;
	border: 1px black solid;
	position: relative;
	width: var(--size);
	height: calc(var(--size) * 0.55);
	background: $light-blue;
	border-radius: 40px;
	box-shadow: #422800 4px 4px 0 0;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	padding: 10px;
	font-family: "Space Grotesk", sans-serif;
	align-items: center;
	.instructions {
		font-size: 16px;
	}
}

.bubble-bottom {
	margin-top: 20px;
	--size: 280px;
	border: 1px black solid;
	position: relative;
	width: var(--size);
	height: auto;
	background: $light-blue;
	border-radius: 40px;
	box-shadow: #422800 4px 4px 0 0;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-family: "Space Grotesk", sans-serif;
	padding: 10px 10px 30px 10px;
	.instructions {
		font-size: 14px;
	}
}

.heading {
	align-self: center;
	font-size: 20px;
}
.amoeba {
	font-family: "Shrikhand", cursive;
	text-align: center;
	padding-top: 40px;
	width: 150px;
	height: 70px;
	background-color: plum;
	box-shadow: #422800 1px 1px 0 0;
	border: 1px black solid;
	animation: profile__animate 8s ease-in-out infinite 1s;
}
@keyframes profile__animate {
	0% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}

/*
BOOK STYLING
*/

.book-body {
	width: 100%;
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
	background: #ccc;
}

.book {
	transform-style: preserve-3d;
	position: relative;
	height: 112px;
	cursor: pointer;
	backface-visibility: visible;
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
	transform-style: preserve-3d;
	position: absolute;
	width: 80px;
	height: 100%;
	top: 0;
	left: 0;
	transform-origin: left center;
	transition: transform 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
}

.front,
.back {
	display: flex;
	align-items: center;
	padding-left: 10px;
	color: black;
	font-family: "Shrikhand", cursive;
	background: plum;
}

.front,
.page1,
.page3,
.page5 {
	border-bottom-right-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.back,
.page2,
.page4,
.page6 {
	border-bottom-right-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.page1 {
	background: #efefef;
}

.page2 {
	background: #efefef;
}

.page3 {
	background: #f5f5f5;
}

.page4 {
	background: #f5f5f5;
}

.page5 {
	background: #fafafa;
}

.page6 {
	background: #fdfdfd;
	display: flex;
	align-items: center;
	color: black;
}

.book.opened .front {
	transform: rotateY(-160deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.opened .page1 {
	transform: rotateY(-150deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.opened .page2 {
	transform: rotateY(-30deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.opened .page3 {
	transform: rotateY(-140deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.opened .page4 {
	transform: rotateY(-40deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.opened .page5 {
	transform: rotateY(-130deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.opened .page6 {
	transform: rotateY(-50deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.opened .back {
	transform: rotateY(-20deg) scale(1.1);
}
